In [6]:
import pandas as pd
dfA = pd.read_csv('merged_data.csv')
searchIndex = ['Loudoun County, Virginia', 'Washington County, Oregon', 'Harlan County, Kentucky', 'Malheur County, Oregon']
res = []
for county in searchIndex:
    print(dfA.loc[(dfA['County'] == county)])
    # res.append(dfA.loc[(dfA['County'] == county)])
# print(res)
df_max = dfA[['County', 'TotalPop']].groupby('TotalPop', as_index=False).max()
df_max
# df.loc[(df['County'] == 'Autauga County, Alabama')]

                        County  TotalPop     PorPop  IncomePerCap  NewPoverty
1759  Loudoun County, Virginia    374558  1381968.3  50391.015625    3.689598
                         County  TotalPop     PorPop  IncomePerCap  NewPoverty
3046  Washington County, Oregon    572071  5904460.2  34970.817308   10.321202
                       County  TotalPop    PorPop  IncomePerCap  NewPoverty
1234  Harlan County, Kentucky     27548  982622.9  16010.363636   35.669482
                      County  TotalPop    PorPop  IncomePerCap  NewPoverty
1822  Malheur County, Oregon     30421  739176.3  17966.428571   24.298225

      TotalPop                          County
0           74            Loving County, Texas
1           86          Kalawao County, Hawaii
2          289              King County, Texas
3          421         Arthur County, Nebraska
4          432      McPherson County, Nebraska
...        ...                             ...
3170   3283665    San Diego County, California
3171   4155501        Maricopa County, Arizona
3172   4525519            Harris County, Texas
3173   5238541           Cook County, Illinois
3174  10105722  Los Angeles County, California

[3175 rows x 2 columns]