In [30]:
import pandas as pd

covid = pd.read_csv('COVID_county_data.csv')
covid['county'] = covid['county'] +', ' +covid['state']
covid['year'] = pd.DatetimeIndex(covid['date']).year
covid['month'] = pd.DatetimeIndex(covid['date']).month
covid.drop(columns=['date'], inplace=True)
covid = covid.groupby(['county', 'year', 'month']).agg({'cases': 'sum', 'deaths': 'sum'})
# covid['county'] = covid['county'] +', ' +covid['state']
covid

                                      cases  deaths
county                    year month
Abbeville, South Carolina 2020 3         32     0.0
                               4        430     0.0
                               5       1080     0.0
                               6       2187     0.0
                               7       5959    65.0
...                                     ...     ...
Ziebach, South Dakota     2020 10      2418    36.0
                               11      4405   115.0
                               12      8247   219.0
                          2021 1      10011   256.0
                               2       6715   180.0

[37257 rows x 2 columns]